.edit-btn:hover{
  background-color: #ffc107 !important; 
  color: white !important;
  border: 1px solid #ffc107 !important;
}
.delete-btn:hover{
  background-color: #dc3545 !important; 
  color: white !important;
  border: 1px solid #dc3545 !important;
}

.fade-in {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
